<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2LbXltfRh16jQ92-1Ew-WqUnD0_lqZgI</string>
	<key>GCM_SENDER_ID</key>
	<string>205080018425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fantasyAuf</string>
	<key>PROJECT_ID</key>
	<string>fantasy-auf</string>
	<key>STORAGE_BUCKET</key>
	<string>fantasy-auf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205080018425:ios:00778da31ef152ad08d128</string>
</dict>
</plist>